body {
    margin: 0 auto;
    padding: 0;
    background: #000;
}

.img{
    text-align: center;
}

p {
    font-family: courier;
    font-size: xx-large;
    color: #555;
    font-size: 13px;
}

.logo{
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.left {
    left: 25px;
}

.right {
    right: 25px;
}

.center {
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 25px;
}

#gradient {
    background: #99AF49;
    background-image: linear-gradient(90deg, #8360c3 0%, #2ebf91 100%);
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    height: 150px;
}

#gradient:after {
    content: "";
    position: absolute;
    background: #E9E2D0;
    left: 50%;
    margin-top: -67.5px;
    margin-left: -270px;
    padding-left: 20px;
    border-radius: 5px;
    width: 520px;
    height: 275px;
    z-index: -1;
}

#text{
    text-align: center;
}

#card {
    position: fixed;
    width: 450px;
    height: 225px;
    padding: 25px;
    top: 470px;
    padding-bottom: 0;
    left: 50%;
    margin-left: -250px;
    background: #E9E2D0;
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    z-index: 5;

}

#card img {
    width: 150px;
    float: left;
    border-radius: 5px;
    margin-right: 20px;
    -webkit-filter: sepia(1);
    -moz-filter: sepia(1);
    filter: sepia(1);
}

#card h2 {
    font-family: courier;
    color: #333;
    margin: 0 auto;
    padding: 0;
    font-size: 15pt;
}

#card p,
#card p a { 
    font-family: courier;
    color: #555;
    font-size: 13px;
}

#card span,
#card span a{
    color: #333;
    font-family: courier;
}

a {
    text-decoration: none;
}

footer {
    margin-top: 120px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 160px;
    background-color: black;
    color: white;
    text-align: center;
}

footer .footer img{
    width: 40px;
    padding: 30px;
}

.footer_span {
    color: #e9e2d0;
    font-family: courier;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

